<div class="footer-section">
	<div class="container">
		<div class="footer-top wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
		<p class="h2 text-left" style="color:#fff123;">友情链接:</p>
					<div class="social-icons">
						
					<volist name="data4" id="u">
							<a href="<{$u.url}>" class="h4" style="color:#feeeed;margin-right:20px;" target="__block"> <{$u.name}> </a>	
					</volist>				
					</div>
					</div>
				<div class="footer-bottom">			
			</div>


		</div>
	</div>