<!--右侧贴边导航quick_links.js控制-->
<div class="mui-mbar-tabs" style="position:fixed">
	<div class="quick_link_mian">
		<div class="quick_links_panel" >
			<div id="quick_links" class="quick_links" >
				<li>
					<a href="#" class="my_qlinks"><i class="setting"></i></a>
					<?php session_start();
						// console($_SESSION);
					?>
				<if condition="$Think.session.phone eq null" >
				<div class="ibar_login_box status_login">

						<div>
					
							<center>
							<br>								
							<br>								
							<span class="h4">当前身份：游客</span>
							<br>
						<div class="login_btnbox">
							<a href="<{:U('Home/Reg/index')}>" class="login_order">前往注册</a>
							<a href="<{:U('Home/Entry/index')}>" class="login_favorite">登录</a>
						</div>
							</center>
						</div>

						
				</div>
				<else/>

					<div class="ibar_login_box status_login">
						<div class="avatar_box">
							<p class="avatar_imgbox"><img src="__PUBLIC__/Home/Images/no-img_mid_.jpg" /></p>
							<ul class="user_info">
								<li>用户名：<?php echo $_SESSION['phone']?></li>
								<li>级&nbsp;别：会员</li>
							</ul>
						</div>
						<div class="login_btnbox">
							<a href="<{:U('Home/Edit/index',array('phone'=>$_SESSION['phone']))}>" class="login_order">修改密码</a>
							<a href="<{:U('Home/Public/logout')}>" class="login_favorite">退出登录</a>
						</div>
						<i class="icon_arrow_white"></i>
					</div>
				</if>
				</li>
				<li id="shopCart">
					<a href="#" class="message_list" ><i class="message"></i><div class="span">我的餐车</div></a>
				</li>
				<!-- 反馈 -->
				<li>
					<a href="#" role="button" data-toggle="modal" data-target="#aa" class="mpbtn_histroy"><i class="zuji"></i></a>
					<div class="mp_tooltip">反馈<i class="icon_arrow_right_black"></i></div>
				</li>
				<!-- 反馈结束 -->
				<!-- 地图 -->
				<li>
					<a href="#" role="button" data-toggle="modal" data-target="#placeshow" class="mpbtn_histroy"><i class="zuji"></i></a>
					<div class="mp_tooltip">地图<i class="icon_arrow_right_black"></i></div>
				</li>
				<!-- 地图结束 -->

			</div>
			<div class="quick_toggle" data-toggle="modal" data-target="#tuLing">
				<li>
					<a href="#" class="mpbtn_recharge"><i class="view"></i></a>
					<div class="mp_tooltip" style=" visibility:hidden;cursor:pointer">图灵机器人<i class="icon_arrow_right_black"></i>
					</div>
				</li>
				<li>
					<a href="#"><i class="kfzx"></i></a>
					<div id="help2" a="<?php session_start();echo $_SESSION['desk']; ?>"class="mp_tooltip" style="cursor:pointer;">呼叫服务<i class="icon_arrow_right_black"></i></div>
				</li>
				<li>
					<a href="#none"><i class="mpbtn_qrcode"></i></a>
					<div class="mp_qrcode" style="display:none;"><img src="__PUBLIC__/Home/Images/weixin_code_145.png" width="148" height="175" /><i class="icon_arrow_white"></i></div>
				</li>
				<li><a href="#top" class="return_top"><i class="top"></i></a></li>
			</div>
		</div>
		<div id="quick_links_pop" class="quick_links_pop hide"></div>

	</div>
</div>

<!-- 反馈模态框 -->
<div class="modal fade" id="aa">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="<{:U('Home/Tickling/index')}>" method="post">
      <div class="modal-header">
      <!-- <input type="hidden" name="vip" value=""> -->
      <!-- <input type="hidden" name="time" value="<{time()}>"> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">用户反馈</h3>
      </div>
      <div class="modal-body">
        <textarea name="info"  cols="90" rows="10" style="resize:none;border:0;" placeholder="请输入您的建议"></textarea>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">提交反馈</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 地图模态框 -->
<div class="modal fade" id="placeshow">
  <div class="modal-dialog">
    <div class="modal-content">
      <img style="margin:20px" width="500" height="400" src="http://api.map.baidu.com/staticimage?width=500&height=400&center=121.44587,31.299154&zoom=18">
      <h3>地址：上海市闸北区万荣路1188弄</h3>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!--[if lte IE 8]>
<script src="js/ieBetter.js"></script>
<![endif]-->

<script type="text/javascript" src="__PUBLIC__/Home/Js/parabola.js"></script>
<script type="text/javascript">
    //呼叫服务请求
    $('#help2').on('click',function(){
        var desk = $('#help').attr('a');
        $.ajax({
           type:'post',
           url:"<{:U('Admin/Help/doHelp')}>",
           data:{'desk':desk},
           success:function(data){
              if(data){
                alert('已呼叫服务员，请稍等。。。。');
              }
            },
           dataType:'json',
        })
    })

    // $('#help2').on('click',function(){
    //     var desk = $('#help').attr('a');
    //     $.ajax({
    //        type:'post',
    //        url:"<{:U('Admin/Help/doHelp')}>",
    //        data:{'desk':desk},
    //        success:function(data){
    //           if(data){
    //             alert('已呼叫服务员，请稍等。。。。');
    //           }
    //         },
    //        dataType:'json',
    //     })
    // })


	$(".quick_links_panel li").mouseenter(function(){
		$(this).children(".mp_tooltip").animate({left:-92,queue:true});
		$(this).children(".mp_tooltip").css("visibility","visible");
		$(this).children(".ibar_login_box").css("display","block");
	});
	$(".quick_links_panel li").mouseleave(function(){
		$(this).children(".mp_tooltip").css("visibility","hidden");
		$(this).children(".mp_tooltip").animate({left:-121,queue:true});
		$(this).children(".ibar_login_box").css("display","none");
	});

	// 餐车的模板在__PUBLIC__/Home/Js/quick_links.js
	
	$(".quick_toggle li").mouseover(function(){
		$(this).children(".mp_qrcode").show();
	});
	$(".quick_toggle li").mouseleave(function(){
		$(this).children(".mp_qrcode").hide();
	});

// 元素以及其他一些变量
var eleFlyElement = document.querySelector("#flyItem"), eleShopCart = document.querySelector("#shopCart");
var numberItem = 0;
// 抛物线运动
var myParabola = funParabola(eleFlyElement, eleShopCart, {
	speed: 400, //抛物线速度
	curvature: 0.0008, //控制抛物线弧度
	complete: function() {
		eleFlyElement.style.visibility = "hidden";
		eleShopCart.querySelector("span").innerHTML = ++numberItem;
	}
});
// 绑定点击事件
if (eleFlyElement && eleShopCart) {
	
	[].slice.call(document.getElementsByClassName("btnCart")).forEach(function(button) {
		button.addEventListener("click", function(event) {
			// 滚动大小
			var scrollLeft = document.documentElement.scrollLeft || document.body.scrollLeft || 0,
			    scrollTop = document.documentElement.scrollTop || document.body.scrollTop || 0;
			eleFlyElement.style.left = event.clientX + scrollLeft + "px";
			eleFlyElement.style.top = event.clientY + scrollTop + "px";
			eleFlyElement.style.visibility = "visible";
			
			// 需要重定位
			myParabola.position().move();			
		});
	});
}


$('#shopCart').on('click',function(){
	setCartShow(this);
 });

$("body").click(function(e){
	$('.quick_links_wrap').css('width', '0px');
});

function setCartShow(obj){
	var is_show = $('#quick_links_pop').css('display');
	// console.log(is_show);
	if(is_show == 'none'){
		$('.quick_links_wrap').css('width', '320px');
		getCartHtml();
	}else{
		$('.quick_links_wrap').css('width', '0px');
	}
}


$('.my_qlinks').on('hover',function(){
	// console.log($('.mui-mbar-tabs').css('width'));
	// console.log($(this).hasClass('current'));
 	if($(this).hasClass('current')){
 		$('.ibar_login_box').css('width', '0px');
 	}else{
 		$('.ibar_login_box').css('width', '289px');
 	}
 });


function getCartHtml(){
	$.ajax({
		url:"<{:U('Home/Ordercar/getCart')}>",
		dataType:'html',
		success:function(htm){
			$('#quick_links_pop').html(htm);
		},
	});
}

</script>