<include file="Public:base"/>

<body>
	<div class="header-banner" id="head">
		  <div class="slider">
	    <div class="callbacks_container">
	      <ul class="rslides" id="slider">
	        <volist name="getImgs" id="v">
	          	<li>
		          <img src="__PUBLIC__/<{$v.pic}>" alt="">
		          <div class="caption wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
		          	<div class="logo">
		          		<a href="<{:U('Home/Index/index')}>">Mr.table</a>
		          		</div>
		          	<h3>智能点餐系统</h3>
		          </div>
		        </li>
	        </volist>
	      </ul>
	  </div>
  </div>
  <div class="copyrights">Collect from </div>


   <include file="Public/head"/>


		<div class="content">
			<div class="menu-section">
					<div class="container" style="margin:10;height:400px">
						<span class="h3" style="color:white;font:25px 微软雅黑;font-weight:bold;margin-left:20px"> 菜品分类 </span>
						<button id="shuaxin" class="btn btn-danger" style="margin-left:870px">点我刷新餐点</button>
				        <br>
				        <br>
						
						<div id="chiList" class="menu-grids wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
								<volist name="data" id="v">
									<div class="col-md-2 menu-grid">
										<div style="cursor:pointer;" a="<{$v.id}>" data-toggle="modal" data-target="#foodsinfo" class="foodsinfo" onclick="foods(this)">
											<img src="__PUBLIC__/<?=$v['picname']?>" class="img-responsive" alt="" style="height:250px;width:161px"/>
										</div>
								    <div class="menu-info">		
										<h4><span style="color:#6cc;font-weight:bold"><{$v.foods}></span></h4>
										<h4 style="color:#cf9;font-weight:bold">￥<{$v.price}>/份</h4>

										<button type="button" class="btn btn-danger btn-lg" style="margin-left:30px" a="<{$v.id}>" onclick="add(this)">
										  加入餐车
										</button>

									 </div>
									</div>									
								</volist>
							
								<div class="clearfix"></div>
							</div>
						</div>
					</div>




				<div class="about-section" id="about">
					<div class="container">
						<h3>特色菜 </h3>
							<div class="main wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;margin-left:0px"> 
							  <div class="col-xs-4">
							  	
				               	    <div class="view view-fourth " >
					                    <img src="__PUBLIC__/<?=$data2[0]['picname']?>" />
					                    <div class="mask">
					                        <h2><{$data2.0.foods}></h2>
					                        <p><{$data2.0.detail}></p>
					                    </div>
		                           </div>
		               
		                           <button type="button" class="btn btn-danger btn-lg" style="margin-left:130px" a="<{$data2.0.id}>" onclick="add(this)">
										  加入餐车
								   </button>
							  </div>
							  <div class="col-xs-4">
					                <div class="view view-fourth" style="margin-left:30px">
					                    <img src="__PUBLIC__/<?=$data2[1]['picname']?>" />
					                    <div class="mask">
					                        <h2><{$data2.1.foods}></h2>
					                        <p><{$data2.1.detail}></p>
					                    </div>
					                </div>
					                <button type="button" class="btn btn-danger btn-lg" style="margin-left:160px" a="<{$data2.1.id}>" onclick="add(this)">
										  加入餐车
								   </button>
					          </div>
					          <div class="col-xs-4">
					                <div class="view view-fourth" style="margin-left:50px">
					                    <img src="__PUBLIC__/<?=$data2[2]['picname']?>" />
					                    <div class="mask">
					                        <h2><{$data2.2.foods}></h2>
					                        <p><{$data2.2.detail}></p>
					                    </div>
					                </div>
					                <button type="button" class="btn btn-danger btn-lg" style="margin-left:180px" a="<{$data2.2.id}>" onclick="add(this)">
										  加入餐车
								   </button>
				              </div>
	               		      <div class="clearfix"></div>
                		</div>
                		<div class="main wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;margin-left:0px"> 
							  <div class="col-xs-4">
							  	
				               	    <div class="view view-fourth " >
					                    <img src="__PUBLIC__/<?=$data2[3]['picname']?>" />
					                    <div class="mask">
					                        <h2><{$data2.3.foods}></h2>
					                        <p><{$data2.3.detail}></p>
					                    </div>
		                           </div>
		                           <button type="button" class="btn btn-danger btn-lg" style="margin-left:130px" a="<{$data2.3.id}>" onclick="add(this)">
										  加入餐车
								   </button>
							  </div>
							  <div class="col-xs-4">
					                <div class="view view-fourth" style="margin-left:30px">
					                    <img src="__PUBLIC__/<?=$data2[4]['picname']?>" />
					                    <div class="mask">
					                        <h2><{$data2.4.foods}></h2>
					                        <p><{$data2.4.detail}></p>
					                    </div>
					                </div>
					                <button type="button" class="btn btn-danger btn-lg" style="margin-left:160px" a="<{$data2.4.id}>" onclick="add(this)">
										  加入餐车
								   </button>
					          </div>
					          <div class="col-xs-4">
					                <div class="view view-fourth" style="margin-left:50px">
					                    <img src="__PUBLIC__/<?=$data2[5]['picname']?>" />
					                    <div class="mask">
					                        <h2><{$data2.5.foods}></h2>
					                        <p><{$data2.5.detail}></p>
					                    </div>
					                </div>
					                <button type="button" class="btn btn-danger btn-lg" style="margin-left:180px" a="<{$data2.5.id}>" onclick="add(this)">
										  加入餐车
								   </button>
				              </div>
	               		      <div class="clearfix"></div>
                		</div>
					</div>
				</div>
				
					<div class="events-section">
						<div class="container">
							<h3>特色服务</h3>
							<div class="event-grids  wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
								<div class="col-md-6 event-left">
									<div class="even-info">
										<div class="icon">
											<img id="checkout2" a="<?php session_start();
											     echo $_SESSION['desk']; ?>" src="__PUBLIC__/Home/Images/icon1.png" class="img-responsive" alt="" />
										</div>
										<div class="event-info">
												<h4>请求结账 </h4>
													<p>厨房将开始精心为你烹饪食物，让您开开心心用餐！ </p>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
									<div class="col-md-6 event-right">
									<div class="even-info1">
									<div class="icon1">
										<img src="__PUBLIC__/Home/Images/icon2.png" id="help" a="<?php 
											     echo $_SESSION['desk']; ?>" class="img-responsive" alt="" />
										</div>
										<div class="event-info1">
											<h4>呼叫服务</h4>
												<p>我们用心的为您解决一切问题！ </p>
											</div>
											<div class="clearfix"> </div>
											</div>
									</div>
									<div class="clearfix"></div>
							</div>
							<div class="butt">
							<button type="button" class="btn btn-primary btn-lg button2" data-toggle="modal" data-target="#myModal22" id="fstatus" a="<?php echo $_SESSION['desk']; ?>">
							 查看菜品状态
							</button>
							</div>
						</div>
				</div>


			</div>
			<include file="Public/foot"/>
			<include file="Public/bottom"/>
			<include file="Public/cart"/>
<!-- hxq Modal 图灵机器人-->
			<div class="modal fade" id="tuLing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h2 class="modal-title" id="myModalLabel">图灵机器人</h2>
			      </div>
			      <div class="modal-body">
			          <div class="container">
							<div class="row">
								<div class="col-md-6">
									<p class="alert alert-info" id="walk_info"></p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<form action="" method="post" class="form" id="walk_data">
										<div class="form-group">
											<textarea name="info" id="info" cols="30" rows="10" class="form-control">

											</textarea>
										</div>
										<div class="form-group">
											<button class="btn btn-default btn-lg col-md-12">发送</button>
										</div>
									</form>
								</div>
								<script>
									$('#walk_info').hide();
									$("#info").focus();
									$('#walk_data').submit(function(){
										var info = $('#info').val().replace(/\s/g,'');
										$.ajax({
											url:"<{:U('Home/Index/ajaxTuling')}>",
											data:{'info':info},
											type:'post',
											success:function(data){

												$('#walk_info').html(data.text).hide().fadeIn(1000);
												$('#info').focus();
											},
											dataType:'json',
										});
										return false;
									})
								</script>

							</div>
							<div class="row" style="height:20px"></div>
							<div class="row">
								<div class="col-md-12">

								</div>
							</div>

						</div>
			      </div>
			      <!-- <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div> -->
			    </div>
			  </div>
			</div>
			
<!-- Modal -->
<div class="modal fade" id="foodsinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" style="font-size:20px;">菜品详情</h4>
      </div>

      <div class="foodsinfos modal-body" style="height:100%;width:100">

         
      </div>
    </div>
  </div>
</div>
<!-- Modal over -->
<!-- 餐品状态模态框 -->
<div class="modal fade" id="myModal22" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div >
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" style="font-size:20px;">餐品状态详情 </h4>
      </div>
			<div style="margin-top:20px;" class="show">

			</div>
    </div>
  </div>
</div>


<!-- 餐品状态模态框over -->


</body>
</html>	
<script>
     //ajax刷新随机餐点
	 $('#shuaxin').click(function(){
	 	 $.ajax({
	 	 	 type:'post',
	 	 	 url:"<{:U('Home/Assort/ajaxGetVoList')}>",
	 	 	 dataType:'json',
	 	 	 // contentType:"application/x-www-form-urlencoded; charset=utf-8",
	 	 	 success:function(data){
				var htm = '';
	 	 	 	$.each(data,function(key,value){  
		 	 	 	htm +='<div class="col-md-2 menu-grid">'
		 	 	 	htm +='<div style="cursor:pointer;" a="'+value.id+'" data-toggle="modal" data-target="#foodsinfo" class="foodsinfo" onclick="foods(this)">'	
		 	 	 	htm +='<img src="__PUBLIC__/'+value.picname+'" class="img-responsive" alt="" style="height:250px;width:161px"/></div>'
		 	 	 	htm +='<div class="menu-info">'
		 	 	 	htm +='<h4><span style="color:#6cc;font-weight:bold">'+value.foods+'</span></h4>'
		 	 	 	htm +='<h4 style="color:#cf9;font-weight:bold">￥'+value.price+'/份</h4>'
		 	 	 	htm +='<button type="button" class="btn btn-danger btn-lg" style="margin-left:30px" a='+value.id+' onclick="add(this)">加入餐车</button></div></div>'
				})

				// <div class="col-md-2 menu-grid">
				// <div style="cursor:pointer;" data-toggle="modal" data-target="#<{$v.id}>">
				// 	<img src="__PUBLIC__/<?=$v['picname']?>" class="img-responsive" alt="" style="height:250px;width:161px"/>
				// </div>
			 //    <div class="menu-info">		
				// 	<h4><span style="color:#6cc;font-weight:bold"><{$v.foods}></span></h4>
				// 	<h4 style="color:#cf9;font-weight:bold">￥<{$v.price}>/份</h4>

				// 	<button type="button" class="btn btn-danger btn-lg" style="margin-left:30px" a="<{$v.id}>" onclick="add(this)">
				// 	  加入餐车
				// 	</button>

				//  </div>
				// </div>

				$('#chiList').html(htm);
                  // console.log(data);

	 	 	 }
	 	 	 
	 	 })
	 })
   
     //ajax添加餐点
     function add(obj){
     	 var foodId = $(obj).attr('a');
     	 $.ajax({
        	type:'post',
        	url:"<{:U('Home/Ordercar/getFoods')}>",
        	data:{id:foodId},
        	dataType:'json',
        	success:function(data){
                 if(data.ok==1){
                 	alert('添加成功');
                 }else{
                 	alert('餐点已加入餐车，请稍等');
                 }
                 // console.log(data);
        	}
        })
     }
     //结账请求
     $('#checkout2').on('click',function(){
        var desk = $('#checkout2').attr('a');

        $.ajax({
           type:'post',
           url:"<{:U('Admin/Help/doCheckout')}>",
           data:{'desk':desk},
           success:function(data){
              if(data==1){
                alert('已呼叫服务员进行结账，请稍等。。。。');
                
              }else{
                alert('您有餐点未上桌，请稍等。。。。');
              }
              // console.log(data);
           },
           dataType:'json',
        })
    })

    //呼叫服务
    $('#help').on('click',function(){
        var desk = $('#help').attr('a');

        $.ajax({
           type:'post',
           url:"<{:U('Admin/Help/doHelp')}>",
           data:{'desk':desk},
           success:function(data){
              if(data){
                alert('已呼叫服务员，请稍等。。。。');
              }
            },
           dataType:'json',
        })
    })

    //定时刷新
    function doShuaxin(){
    	$.ajax({
    		url:"<{:U('Home/index/ajaxDoout')}>",
    		success:function(data){
    			if(data ==1){
    			   window.location.reload();
    			}else{

    			}
    		}
    	})
    }

    setInterval(doShuaxin,5000);

// 模态框
   // $('#fstatus').on('click',function(){
   // 		var desk = $('#fstatus').attr('a');
   // 		$.ajax({
   // 			type:'post',
   //      	url:"<{:U('Home/Box/index')}>",
   //      	data:{'desk':desk},
   //      	dataType:'json',
	 	//  	 success:function(data){
			// 	var box = '';
	 	//  	 	$.each(data,function(key,value){  
	  //                  box += '<tr>'
	  //                  box += '<th style="width:100px">'+value.desk+'号桌</th>'
	  //                  box += '<th style="width:100px">'+value.name+'</th>'
	  //                  box += '<th style="width:350px">'
	  //                  box += '<if condition="'+value.dstatus+' eq 1"><span >已下单</span>'
	  //                  box += '<elseif condition="'+value.dstatus+' eq 2" /><span >已下锅</span>'
	  //                  box += '<elseif condition="'+value.dstatus+' eq 0" /><span>烹饪完成</span>'
	  //                  box += '<else /><span >已上桌</span></if></th>'

	  //                  box += '</tr>';
	  //                  // box += '"'+key+'=>'+value.dstatus+'"';
	                
			// 	})


			// 	$('#boxdesk').html(box);

	 	//  	 }
              
   // 		})
   // })



// 商品详情模态框

   function foods(obj){
   		var id = $(obj).attr('a');
   		
	$.ajax({
		url:"<{:U('Home/Box/foodsinfo')}>",
		data:{'id':id},
		dataType:'html',
		success:function(htm){
			$('.foodsinfos').html(htm);
		},
	})
}
   // 商品详情模态框结束

$('#fstatus').on('click',function(){
   		var desk = $('#fstatus').attr('a');
	$.ajax({
		url:"<{:U('Home/Box/index')}>",
		data:{'desk':desk},
		dataType:'html',
		success:function(htm){
			$('.show').html(htm);
		},
	})
})
</script>