<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
    <h1>home user inder</h1>
    <table width=800 border=1>
    	 <tr>
    	 	<th>ID</th>
    	 	<th>NAME</th>
    	 	<th>AGE</th>
    	 	<th>WORKS</th>
    	 </tr>
    	 <foreach name="list" item="v" key="k">
    	    <tr>
    	    	<td><{$v.id}></td>
    	    	<td><{$v.name}></td>
    	    	<td><{$v.age}></td>
    	    	<td><{$v.works}></td>
    	    </tr>
    	 </foreach>
    </table>
	
</body>
</html>